@import "settings";

// vars
$imgurl: "/assets/img";

// mixins
@mixin center-v($enable: true) {
  @if $enable {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  @else {
    position: static;
    top: 0;
    transform: translateY(0);
  }
}
