@import "site";

.preloader {
  background-color: $primary-color;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-align: center;

  img {
    @include center-vertical;
    width: 50%;
    height: 50px;
  }
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  height: 5rem;
  width: 5rem;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  content: attr(data-progress-text);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  line-height: 1;
  text-align: right;
  color: rgba(0, 0, 0, 0.19999999999999996);
}

// .pace {
//   pointer-events: none;
//   user-select: none;
//   z-index: 3000;
//   position: fixed;
//   margin: auto;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   height: 10px;
//   width: 100%;
//   background: none;
//   border: 0;
//   opacity: 1;
//   visibility: visible;
//   transition: opacity .3s, visibility .3s;
// }

// .pace .pace-progress {
//   box-sizing: border-box;
//   transition: width 1s ease-in-out 1s linear;
//   transform: translate3d(0, 0, 0);
//   position: fixed;
//   z-index: 2000;
//   display: block;
//   position: absolute;
//   left: 0px;
//   top: 0px;
//   height: 100%;
//   background: #fff;
// }

// .pace.pace-inactive {
//   visibility: hidden;
//   opacity: 0;
// }
