@import "http://fonts.googleapis.com/css?family=Raleway:100,300,700";

$font-family-sans-serif: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// $font-size-base: 16px;
@import "flatly/variables";
@import "bootstrap";

$accent: #2ecc71;

@charset "utf-8";

html {
  height: 100%;
}

body {
  background: #666;
  font-weight: 100;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 0 2px 0 rgba(#000, .1);
}

strong,
b { font-weight: 600 }

h1 {
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  margin: 40px 0;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 15px 0;
}

h3 {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  margin: 10px 0;
}

h5 {
  font-size: 28px;
  font-weight: 600;
  margin: 15px 0;
  color: #fff;
}

h6 {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
  color: #fff;
}

a { color: #5173bd }

a:hover,
a:focus { color: #5173bd }

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.preloader {
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.pace {
  pointer-events: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 50%;
  // background: #fff;
  border: 1px solid $brand-primary;

  opacity: 1;
  visibility: visible;
  transition: opacity .3s, visibility .3s;
}

.pace .pace-progress {
  box-sizing: border-box;

  transition: width 1s ease-in-out 1s linear;

  transform: translate3d(0, 0, 0);

  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  background: $brand-primary;
}

.pace.pace-inactive {
  visibility: hidden;
  opacity: 0;
}

.backstretch-carousel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}

.bg-pattern {
  background-image: url(../img/mhp/pattern_no.png);
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg-pattern_vertical {
  background-image: url(../img/mhp/pattern_vertical.png);
}

.btn,
.btn-lg,
.input-lg { border-radius: 3px }

.form-control {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}

.input-lg { height: 55px }

.btn-lg,
.btn-group-lg>.btn {
  padding: 10px 28px;
  height: 52px;
}

.breath { margin: 50px auto }

.highlight {
  background: #f4f4f4;
  margin-top: 40px;
}

.small-logo {
  position: fixed;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform .2s ease-in-out;

  a {
    display: inline-block;
    padding: 10px;
    background: rgba(#33cc66, .5);
  }

  &.show {
    transform: translateX(0);
  }
}

.masthead {
  position: relative;
  padding: 80px 15px;
  color: #FFF;
  text-align: center;
  // text-shadow: 0 1px 0 rgba(#000, .1);
  // background: url("../img/mhp/header.jpg") no-repeat center center;
  // background-size: cover;
  height: 100%;
}

.masthead .container {
  @extend .center-vertical;
}

.loading * {
  animation: none !important;
}

/*animation ends*/

.logo {
  padding: 50px 0;
  text-align: center;

  img {
    max-width: 60%;
  }
}

.btn-large {
  font-size: 18px;
  padding: 20px 50px;
  margin: 5px 10px;
}

.btn-success {
  background-color: #2ecc71;
  background-image: none;
  border: 0;
  box-shadow: 0 3px 0 rgba(2, 154, 67, 1);
  line-height: 1.8;
  letter-spacing: 5px;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: #29c36a;
  color: #FFF;
  border: 0;
  box-shadow: 0 3px 0 rgba(2, 139, 61, 1);
}

.btn-primary {
  background-color: #2db6d8;
  background-image: none;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #209ab8!important;
  color: #FFF!important;
}

.subscribe { padding: 45px 0 }

.alertMsg {
  float: left;
  font-size: 14px;
  display: block;
  padding: 5px 17px;
}

//Boucing Arrow Animation */

@keyframes arrowBounce {
  from {
    transform: translateY();
  }

  to {
    transform: translateY(-10px);
  }
}

.scrollto {
  margin: 90px auto 0;
  display: block;
  width: 200px;
}

.scrollto,
.scrollto:hover,
.scrollto:focus {
  color: #FFF;
  text-decoration: none;
}

.scrollto--arrow { padding: 10px }

.scrollto--arrow img {
  animation: arrowBounce .5s alternate infinite;
}

/*========== 3. HERO IMAGE ==============*/

.hero {
  height: 100%;

  .container {
    @extend .center-vertical;
  }
}

.section-title {
  text-align: center;
  margin-top: 60px;
  // margin-bottom: 30px;
  margin-bottom: 60px;
}

.masterpiece {
  height: 100%;

  .container {
    @extend .center-vertical;
  }

  h2 {
    font-weight: 100;
    line-height: 0.9;
  }
}

// .section-title h2 { color: #384047 }

// .section-title h4 { color: #94a3a8 }

.heroimg img,
.clientlogo img { max-width: 100% }

/*========== 4. TEAM ==============*/

.team {
  // margin: 25px 0;
  height: 100%;

  .container {
    @extend .center-vertical;
  }
}

.thumbnail {
  border: 0;
  text-align: center;
}

.thumbnail .caption p { color: #94a3a8 }

/*Hover Animation*/

.thumbnail img {
  transition: all 0.6s ease;
}

.thumbnail:hover img {
  transform: scale(1.05);
  z-index: 2;
}

/*========== 5. TESTIMONIALS ==============*/

.testblock {
  width: 100%;
  height: auto;
  padding: 20px;
  background: #FFF;
  border-radius: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  position: relative;
  line-height: 28px;
  font-size: 16px;
}

.testblock:after {
  top: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 15px;
  margin-left: -15px;
}

.clientblock {
  margin-top: 40px;
  margin-left: 10px;
}

.clientblock img {
  float: left;
  border-radius: 100%;
}

.clientblock p {
  padding-left: 80px;
  padding-top: 13px;
}

.clientblock p strong {
  color: #384047;
  font-size: 16px;
}

//Animation */

.testblock {
  transition: all 0.6s ease;
}

.testblock:hover {
  transform: scale(1.05);
  z-index: 2;
}

/*==========8. FOOTER ==============*/

.footerlinks { text-align: center }

.footerlinks a {
  text-align: center;
  padding: 0 13px;
  display: inline-block;
  padding-bottom: 15px;
}

/*==========9. CUSTOM MEDIA QUERIES==============*/

/*MEDIA QUERIES*/

@media (max-width: 991px) {
  h1 {
    font-size: 35px;
    line-height: 50px;
    margin: 15px 0;
  }

  h2 { font-size: 35px }

  .testimonials [class*="col-"]:not(:first-child) { margin-top: 40px }

  .breath { margin: 30px auto }
}

@media (max-width: 767px) {
  h1 {
    font-size: 25px;
    line-height: 30px;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .scrollto {
    margin: 70px auto 0;
  }

  .subscribe [class*="col-"]:not(:first-child) { margin-top: 30px }

  .masthead { padding: 40px 15px }
}

@media (max-width: 480px) {
  /*Media Queries for smaller devices*/

  .masthead { background-attachment: scroll }
}
