@charset "utf-8";

@import "http://fonts.googleapis.com/css?family=Raleway:100,300,500,600,700";
@import "http://fonts.googleapis.com/css?family=Lato:100,700,100italic,700italic";

$font-family-sans-serif: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// $font-size-base: 16px;
$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              #7b8a8b !default;   // #333
$gray:                   #95a5a6 !default; // #555
$gray-light:             #b4bcc2 !default;   // #999
$gray-lighter:           #ecf0f1 !default; // #eee

$brand-primary:         #2C3E50 !default;
$brand-success:         #18BC9C !default;
$brand-info:            #3498DB !default;
$brand-warning:         #F39C12 !default;
$brand-danger:          #E74C3C !default;

@import "bootstrap";

// mixins

@mixin center-vertical {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

@mixin no-center-vertical {
  position: relative;
  top: 0;
  transform: translateY(0);
}


html {
  height: 100%;
}

body {
  background: #666;
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 0 1px 0 rgba(#000, .1);
}

strong,
b { font-weight: 700 }

h1 {
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  margin: 40px 0;

  strong {
    display: inline;
    background: rgba($brand-success, .5);
    padding: 0 10px;
    margin-left: -10px;
    margin-right: -10px;
  }
}

h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 15px 0;
}

h3 {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  margin: 10px 0;
}

h5 {
  font-size: 28px;
  font-weight: 600;
  margin: 15px 0;
  color: #fff;
}

h6 {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
  color: #fff;
}

a { color: #5173bd }

a:hover,
a:focus { color: #5173bd }

.preloader {
  background-color: $brand-primary;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
}

.pace {
  pointer-events: none;
  user-select: none;

  z-index: 3000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  width: 50%;
  background: none;
  border: 0;

  opacity: 1;
  visibility: visible;
  transition: opacity .3s, visibility .3s;
}

.pace .pace-progress {
  box-sizing: border-box;

  transition: width 1s ease-in-out 1s linear;

  transform: translate3d(0, 0, 0);

  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  background: #fff;
}

.pace.pace-inactive {
  visibility: hidden;
  opacity: 0;
}

.backstretch-carousel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}

.bg-pattern {
  background-image: url(../img/mhp/pattern_no.png);
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg-pattern-vertical {
  background-image: url(../img/mhp/pattern_vertical.png);
}
.bg-pattern-diag {
  background-image: url(../img/mhp/pattern_diag.png);
}
.bg-pattern-denim {
  background-image: url(../img/mhp/pattern_darkdenim.png);
}

// Animations Delay

.showdelay1 {
  animation-delay: .1s;
  transition-delay: .1s;
}
.showdelay2 {
  animation-delay: .2s;
  transition-delay: .2s;
}
.showdelay3 {
  animation-delay: .3s;
  transition-delay: .3s;
}
.showdelay4 {
  animation-delay: .4s;
  transition-delay: .4s;
}
.showdelay5 {
  animation-delay: .5s;
  transition-delay: .5s;
}
.showdelay6 {
  animation-delay: .6s;
  transition-delay: .6s;
}
.showdelay7 {
  animation-delay: .7s;
  transition-delay: .7s;
}
.showdelay8 {
  animation-delay: .8s;
  transition-delay: .8s;
}
.showdelay9 {
  animation-delay: .9s;
  transition-delay: .9s;
}
.showdelay1s {
  animation-delay: 1s;
  transition-delay: 1s;
}
.showdelay2s {
  animation-delay: 2s;
  transition-delay: 2s;
}

.btn,
.btn-lg,
.input-lg { border-radius: 3px }

.form-control {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}

.input-lg { height: 55px }

.btn-lg,
.btn-group-lg>.btn {
  padding: 10px 28px;
  height: 52px;
}

.breath { margin: 50px auto }

.highlight {
  background: #f4f4f4;
  margin-top: 40px;
}

// small logo
.small-logo {
  position: fixed;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform .2s ease-in-out;

  a.logo {
    display: inline-block;
    padding: 10px;
    background: $brand-success;
  }

  &.show {
    transform: translateX(0);
  }

  nav {
    position: absolute;
    top: 0;
    left: 100%;
    display: inline-block;

    background: #fff;
    text-shadow: none;
    text-align: center;

    a {
      color: shade($brand-success, 10%);
      display: block;
      width: 100px;
      padding: 5px 10px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 11px;
      // line-height: 1;
      letter-spacing: 1px;
      text-decoration: none;
      transition: background .2s, color .2s;

      &:hover {
        background: $brand-success;
        color: #fff;
      }

      body.lang_ms &.lang_ms {
        display: none;
      }
      body.lang_en &.lang_en {
        display: none;
      }
    }
    // position:
  }
}

.masthead {
  position: relative;
  padding: 80px 15px;
  color: #FFF;
  text-align: center;
  height: 100%;
}

.masthead .container {
  @include center-vertical;
}

.loading * {
  animation: none !important;
}

/*animation ends*/

.masthead-logo {
  padding: 50px 0;
  text-align: center;

  img {
    max-width: 60%;
  }
}

.btn-large {
  font-size: 18px;
  padding: 20px 50px;
  margin: 5px 10px;
}

.btn-success {
  background-color: #2ecc71;
  background-image: none;
  border: 0;
  box-shadow: 0 3px 0 rgba(2, 154, 67, 1);
  line-height: 1.8;
  letter-spacing: 5px;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: #29c36a;
  color: #FFF;
  border: 0;
  box-shadow: 0 3px 0 rgba(2, 139, 61, 1);
}

.btn-primary {
  background-color: #2db6d8;
  background-image: none;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #209ab8!important;
  color: #FFF!important;
}

.subscribe { padding: 45px 0 }

.alertMsg {
  float: left;
  font-size: 14px;
  display: block;
  padding: 5px 17px;
}

//Boucing Arrow Animation */

@keyframes arrowBounce {
  from {
    transform: translateY();
  }

  to {
    transform: translateY(-10px);
  }
}

.scrollto {
  margin: 90px auto 0;
  display: block;
  width: 200px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.scrollto,
.scrollto:hover,
.scrollto:focus {
  color: #FFF;
  text-decoration: none;
}

.scrollto--arrow { padding: 10px }

.scrollto--arrow img {
  animation: arrowBounce .5s alternate infinite;
}

.container {
  text-align: center;
}

.section-title {
  margin-top: 60px;
  // margin-bottom: 30px;
  margin-bottom: 60px;

  h2 {
    display: inline-block;
    background: rgba($brand-primary, .8);
    padding: 8px 15px;
  }

  i.fa {
    font-size: 120px;
    display: block;
    margin-bottom: 40px;
    color: rgba(#fff, .9);
  }
}

/*========== 3. HERO ==============*/

.hero {
  position: relative;
  height: 100%;

  .container {
    @include center-vertical;
    text-align: right;
  }

  .lyrics {
    font-family: "Lato", $font-family-sans-serif;
    font-size: 35px;
    line-height: .9;
    font-style: italic;

    strong {
      font-size: 40px;
      font-weight: 700;
      // word-spacing: -10px;
    }
  }

  .cite {
    display: inline-block;
    padding: 5px 10px;
    background: rgba($brand-success, .5);
  }
}

/*========== 3. MASTERPIECE ==============*/

.masterpiece {
  height: 100%;

  .container {
    @include center-vertical;
    text-align: left;
  }

  h1 {
    font-weight: 100;
    line-height: .9;
    margin-top: -140px;
  }

  i.fa.fa-quote-left {
    font-size: 250px;
    color: rgba($brand-success, .2);
    margin-left: -80px;
    text-shadow: none;
  }
}

// .section-title h2 { color: #384047 }

// .section-title h4 { color: #94a3a8 }

.heroimg img,
.clientlogo img { max-width: 100% }

/*========== 4. TEAM ==============*/

.team {
  height: 100%;

  .container {
    @include center-vertical;
  }
}

.teamblock {
  border: 0;
  text-align: center;
  background: transparent;
  color: #fff;

  .caption {
    color: #fff;

    h3 {
      display: inline-block;
      background: rgba($brand-success, .9);
      padding: 5px 10px;
    }

    p {
      font-size: 16px;
      // letter-spacing: 2px;
      line-height: 1;
      font-weight: 600;
    }
  }
}

// .teamblock .caption p { color: #94a3a8 }

.teamblock img {
  transition: all 0.6s ease;
  border-radius: 100%;
  border: 3px solid #fff;
  padding: 1px;
  box-shadow: 0 1px 0 rgba(#000, .1);
}

.testblock {
  transition: all 0.6s ease;
}

.testblock:hover {
  transform: scale(1.05);
  z-index: 2;
}

/*==========8. FOOTER ==============*/

.footerlinks {
  text-align: center;
  h3 {
    display: inline-block;
    background: rgba($brand-primary, .8);
    padding: 5px 10px;
    font-weight: 500;
  }
}

.footerlinks a {
  text-align: center;
  padding: 0 13px;
  display: inline-block;
  padding-bottom: 15px;
}

/*==========9. CUSTOM MEDIA QUERIES==============*/

/*MEDIA QUERIES*/

@media (max-width: 991px) {
  h1 {
    font-size: 35px;
    line-height: 50px;
    margin: 15px 0;
  }

  h2 { font-size: 35px }

  .testimonials [class*="col-"]:not(:first-child) { margin-top: 40px }

  .breath { margin: 30px auto }
}

@media (max-width: 767px) {
  h1 {
    font-size: 25px;
    line-height: 30px;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .scrollto {
    margin: 70px auto 0;
  }

  .subscribe [class*="col-"]:not(:first-child) { margin-top: 30px }

  .masthead { padding: 40px 15px }
}

@media (max-width: 480px) {
  /*Media Queries for smaller devices*/

  .masthead{
    background-attachment: scroll;
  }

  .hero, .masterpiece, .team {
    height: auto;
    min-height: 500px;
    @include no-center-vertical;
  }
}
